/* 全局样式表 */
* {
    margin: 0px;
    padding: 0px;
}
html {
    font-size: 100%;
}
html, body, #app {
    height: 100%;
    width: 100%;
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    margin-bottom: 5px;
}

.el-table {
    margin-top: 15px;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}