/* 全局样式表 */
* {
    margin: 0px;
    padding: 0px;
}
html, body, #app {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
}
