/* 全局样式表 */
* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 100%;
}
html, body, #app {
  height: 100%;
  width: 100%;
  background-color: #f3f5f7;
}
li {
  list-style: none;
}

/* 卡片样式 */
.card-style {
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* echarts样式 */
@media only screen and (max-width:599px) {
  .echarts-box {
    width: calc(100vw - 10px);
    height: 75vw;
    margin: 0 auto;
  }
}
@media only screen and (min-width:600px) {
  .echarts-box {
    width: 600px;
    height: 450px;
    margin: 0 auto;
  }
}

/* 描述标签颜色 */
.vup {
  color: #0098dc
}
.rem {
  color: #f49800
}
.vdown {
  color: red
}
.talpu {
  color: #ff6237
}
.stun {
  color: gray;
  text-decoration-line: underline;
}

/* 抽屉样式 */